# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
lib/
libs/

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg

# Miscellaneous
*.bak
*.swp
*~

# Ignore the database file if applicable
torrents.db

# Ignore the log file if applicable
app.log

